@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>ADD A STYLIST</h2>
<hr/>
@using (Html.BeginForm())
{
  <span> | </span>  @Html.LabelFor(model => model.Name) <span> | </span> 
  @Html.TextBoxFor(model => model.Name) <span> | </span> 

  @Html.LabelFor(model => model.Specialty) <span> | </span> 
  @Html.TextBoxFor(model => model.Specialty) <span> | </span> 
<hr />
  <input type="submit" value="ADD" />
}