@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(19, 0, 36);
  padding:8px;
  text-align: center;
}

div#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(19, 0, 36);
  padding:8px;
  text-align: center;
}

.container {
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 100px;
  background-color: white;
  height: 100%;
  border-radius: 1rem;
}

.card {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
  border: 0px;
}

.fancyBtn {
  background-color: rgb(117, 73, 156);
  color: white;
  padding: 5px;
  border-radius: 1rem;
  width: 200px;
  text-align: center;
  font-weight: bolder;
}

h1 {
  font-size: 48px;
  font-family: 'Fjalla One', sans-serif;
  color: rgb(210, 163, 248);;
}

h2 {
  font-size: 36px;
  font-family: 'Fjalla One', sans-serif;
  color:rgb(19, 0, 36);
}

h3 {
  font-size: 22px;
  font-family: 'Fjalla One', sans-serif;
  color: rgb(247, 240, 255);
}

a:link {
  color: rgb(117, 73, 156);
}

a:visited {
  color: rgb(210, 163, 248);
}

a:hover {
  color: rgb(117, 73, 156);
}

a:active{
  color: rgb(117, 73, 156);
}

.fancyBtn a:link {
  color: rgb(210, 163, 248);
}

.fancyBtn a:visited {
  color: rgb(210, 163, 248);
}

.fancyBtn a:hover {
  color: rgb(210, 163, 248);
}

.fancyBtn a:active{
  color: rgb(210, 163, 248);
}

body {
  background-color: rgb(250, 242, 226);
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(19, 0, 36);
}