@{
  Layout = "_Layout";
}

<h2>EAU CLAIRE'S SALON</h2>
<hr />
<p>Welcome to Eau Claire's. Please start by adding or selecting a Stylist. Clients can only be added to individual Stylists. Thank you!</p>
<hr />

<p class="fancyBtn">@Html.ActionLink("Add Stylist", "Create", "Stylists")</p>
<p class="fancyBtn">@Html.ActionLink("Search by Stylist", "Index", "Stylists")</p>

