@{
  Layout = "_Layout";
}

<h1>EAU CLAIRE'S SALON</h1>
<hr />
<p>Welcome to Eau Claire's. To begin, start by selecting search by Stylist or Client. You will be prompted to add individuals to the database from there.</p>
<hr />

<p class="fancyBtn">@Html.ActionLink("Add Stylist", "Create", "Stylists")</p>
<p class="fancyBtn">@Html.ActionLink("Search by Stylist", "Index", "Stylists")</p>

