@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client
<h2>DELETE CLIENT?</h2>
<hr/>
@Html.DisplayFor(model => model.Name)
@Html.DisplayFor(model => model.ContactInfo)
@Html.DisplayFor(model => model.DateOfLastApp)
@Html.DisplayFor(model => model.Notes)
<hr/>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}